@CHARSET "UTF-8";

/* #travel-diary{
	
	border: 2px soild red;
} */

	#travel-diary{
		float: left;
		width: 1020px;
		/* border:1px solid red; */
	}

	#travel-diary div{
	
		width:480px;
		height:543px;
		background-color: rgba( 255, 255, 255, 0.7 );
	}
	
	#travel-diary-fieldset{
		margin-left: 19px;
		margin-top: 5px;
		float: left;
	}
	
	#travel-diary-fieldset:HOVER{
		border: 1px solid blue;
	}
	
	#travel-diary nav {
		/* border:1px solid red; */
		height: 90px;
		/* position:relative; */
	}
	
	#travel-diary nav ul {
		/* border:1px solid blue; */
		display: inline-block;
	}
	
	#travel-diary-member {
		margin-top: 5px;
		width: 80px;
		height: 70px;
		float: left;
	}
	
	#travel-diary-title {
		margin-top: 12px;
		width: 342px;
		height: 72px;
		float: left;
	}
	
	#travel-diary-like {
		margin-top: 5px;
		width: 80px;
		height: 80px;
		float: left;
		text-align: center;
	}
	
	/* 회원 프로필 사진 */
		
	#travel-diary-member li {
		/* border:1px solid red; */
		width:51px;
		height: 51px;
		/* line-height:51px; */
		/* position:absolute; */
		text-align: center;
		margin-left: 13px; 
	}

	/* 회원 아이디 */
	#travel-diary-member li:FIRST-CHILD+li {
		/* border:1px solid red; */
		/* left: 25px;
		top: 66px; */
		width:76px;
		height: 15px;
		line-height:15px;
		/* position:absolute; */
		font-size: 12px;
		text-align: center;
		margin-left: 0px; 
	}
	
	/* 회원 아이디  a태그*/
	#travel-diary-member li+li a {
		color: #8eb5f5;
		text-decoration: none;
	}

	/* 등록날짜 */
	#travel-diary-title li {
		/* border:1px solid red; */
		/* left: 111px;
		top: 10px; */
		width:150px;
		height: 10px;
		line-height:10px;
		/* position:absolute; */
		font-size: 12px;
		color: #18767c;
	}

	/* 여행기 제목 */
	#travel-diary-title li+li {
		/* border:1px solid red; */
	/* 	left: 111px;
		top: 25px; */
		width:280px;
		height: 60px;
		line-height: 30px;
		/* position:absolute; */
		font-size: 22px;
	}

	/* 여행기 제목 a태그 */
	#travel-diary-title li+li a {
		color : black;
		text-decoration: none;
		font-weight: bold;
	}

	/* 좋아요 이미지 */
	#travel-diary-like {
	/* border:1px solid red; */
	line-height: 0px;
	text-align: center;
	width: 50px;
	height: 80px;
	float: left;
	}

	#travel-diary-fieldset section:FIRST-CHILD{
		border:1px solid red;
		height: 100px;
		color: red;
	}
	
	#travel-course {
		border:1px solid red;
		min-height: 30px;
		line-height: 30px;		
		/* display: inline-block;
		height: inherit; */
	}
	
	#travel-course li {
		border:1px solid blue;
		display: inline-block;
		margin-left: 10px;
	}
	
	#travel-course li:FIRST-CHILD {
		margin-left: 0px;
	}
	
	#travel-course-pic li {
		border:1px solid red;
		width: 230px;
		height: 190px;
		float: left;
		margin-top: 11px;
		margin-left: 5px;
	}