@CHARSET "UTF-8";

/* #travel-diary{
	
	border: 2px soild red;
} */

	#travel-diary{
		float: left;
	}

	#travel-diary div{
	
		width:480px;
		height:543px;
		background-color: rgba( 255, 255, 255, 0.7 );
	}
	
	#travel-diary-fieldset:HOVER{
		border: 1px solid blue;
	}
	
	#travel-diary nav{
		border:1px solid red;
		height: 90px;
		position:relative;
	}

	/* 회원 프로필 사진 */
	#travel-diary nav li:FIRST-CHILD{
		border:1px solid red;
		left: 30px;
		top: 10px;
		width:51px;
		height: 51px;
		line-height:51px;
		position:absolute;
		text-align: center;
	}

	/* 회원 아이디 */
	#travel-diary nav li:FIRST-CHILD+li{
		border:1px solid red;
		left: 25px;
		top: 66px;
		width:61px;
		height: 15px;
		line-height:15px;
		position:absolute;
		font-size: 12px;
		text-align: center;
	}
	
	/* 회원 아이디  a태그*/
	#travel-diary nav li:FIRST-CHILD+li a{
		color: #8eb5f5;
		text-decoration: none;
	}

	/* 등록날짜 */
	#travel-diary nav li:FIRST-CHILD+li+li{
		border:1px solid red;
		left: 111px;
		top: 10px;
		width:150px;
		height: 10px;
		line-height:10px;
		position:absolute;
		font-size: 12px;
		color: #18767c;
	}

	/* 여행기 제목 */
	#travel-diary nav li:FIRST-CHILD+li+li+li{
		border:1px solid red;
		left: 111px;
		top: 25px;
		width:280px;
		height: 30px;
		line-height: 30px;
		position:absolute;
		font-size: 22px;
	}

	/* 여행기 제목 a태그 */
	#travel-diary nav li:FIRST-CHILD+li+li+li a{
		color : black;
		text-decoration: none;
		font-weight: bold;
	}

	/* 좋아요 이미지 */
	#travel-diary nav li:FIRST-CHILD+li+li+li+li{
	border:1px solid red;
	right: 25px;
	top: 10px;
	width:50px;
	height: 50px;
	line-height: 0px;
	position:absolute;
	text-align: center;
	}

	#travel-diary-fieldset section:FIRST-CHILD{
		border:1px solid red;
		height: 100px;
		color: red;
	}