

@CHARSET "UTF-8";

#my-info {
	height: inherit;
	width: 140px;
	float: left;
	min-height: 300px;
	margin: 10px;
	padding-left: 9px;
	}

#reg {
	margin-left: 100px;
	/* overflow: hidden; */
}

#my-info div+div {
	border: 2px solid skyblue;
	width: 127px;
	margin-top: 7px;
}

#my-info dd {
	text-align: center;
	width: 127px;
	height: 25px;
	border-top: 2px solid skyblue;
	line-height: 23px;
	
}

#my-info dd:FIRST-CHILD {
	border-top: none;
}

.first-info {
	margin-left: 30px;
}

	#profile-bg{
		margin-left:auto;
		margin-right:auto;
		width:980px;
		height:335px;
	}
	
/* 	#profile-bg div {
		border: blue 1px solid;
	}
	 */
	 
	#profile-bg img{
		width:980px;
		height:335px;
	}
	/* 배경사진 올리기버튼 */
	#profile-bg-back{
		display: inline-block;
		/* border: blue 1px solid; */
		margin-top: -30px;
		margin-left: 880px;
	}
	/* 내사진 큰 박스 */
	#profile-image {
		width: 600px;
		height: 185px;
		/* display: inline-block; */
		/* border: blue 1px solid; */
		margin-top: -185px;
	}
	/* 내사진 올리기버튼 */
	#profile-pic-back {
		/* border: red 1px solid; */
		/* display: inline-block; */
		margin-top: -180px;
		margin-left: 180px;
	}
	/* 내사진 액자 */
	#profile-pic {
		/* border: red 1px solid; */
		display: inline-block;
		/* float: left; */
	}
	/* 내사진 */
	#profile-pic img{
		padding-left:50px;
		width:180px;
		height:180px;
	}
	#profile-name {
		/* border: red 1px solid; */
		display: inline-block;
		margin-top: 110px;
		margin-left: 240px;
		text-align: 40px;
		font-size: 40px;
	}
	
#mypage-list {
	/* border: 1px maroon solid; */
	display: inline-block;
	width: 800px;
}

#mypage-list ul {
	/* border: 1px black solid; */
	height: 25px;
}

#mypage-recommend {
	height: 25px;
	width: 80px;
	float: left;
	margin-left: 500px;
}

#myPage-updated {
	height: 25px;
	width: 80px;
	float: left;
	margin-left: 5px;
}

#travel-diary {
	/* border: 2px black solid; */
	display: inline-block;
	width: 680px;
	height: inherit;
	margin: auto;
}

#travel-diary-fieldset {
	border: 1px blue solid;
	float: left;
	width: 640px;
	margin-left: 20px;
	margin-top: 5px;
	background: grey;
	display: inline-block;
}

#travel-diary-fieldset-in {
	margin: 5px;
	width: 630px;
	background: white;
	display: inline-block;
}

#diary-top {
	/* border: 1px blue solid; */
	display: inline-block;
}

#diary-top ul {
	/* border: 1px red solid; */
	width: 140px;
	height: 120px;
	float: left;
}

#diary-top ul+ul {
	/* border: 1px red solid; */
	width: 380px;
	height: 50px;
	float: left;
	margin-top: 20px;
	display: inline-block;
}

#diary-top ul+ul+ul {
	/* border: 1px red solid; */
	width: 100px;
	height: 90px;
	float: left;
	margin: 0px;
	text-align: center;
}

#diary-top ul {
	border: 1px blue solid;
}

#travel-diary-profile-pic {
	border: 1px red solid; 
	width: 100px;
	height: 100px;
	margin-left: 18px; 
	text-align: center;
}

#travel-diary-profile-id {
	border: 1px red solid;
	height: 20px;
	text-align: center;
}

#travel-diary-profile-day {
	width: 150px;
	height: 20px;
}

#travel-diary-profile-title {
	width: 370px;
	height: 30px;
	text-align: left;
	line-height: 30px;
	font-size: 30px; 
}

#travel-diary-profile-like {
	width: 50px;
	height: 50px;
	margin-left: 23px;
	margin-top: 10px;
	text-align: center;
}

#diary-middle{
	border: 1px blue solid;
	height: 80px;
	line-height: 40px;
}

#diary-middle li{
	/* border: 1px black solid; */
	display: inline-block;
}

#my-info {
   height: inherit;
   width: 140px;
   float: left;
   min-height: 300px;
   margin: 10px;
  /*  border: 1px maroon solid; */
}

#normal-info {
	border: 1px maroon solid;
}

#course-image li{
	border: 1px maroon solid;
	width: 276px;
	height: 228px;
	float: left;
	margin-left: 24px;
	margin-top: 10px;
}

#course-image li{
	border: 1px maroon solid;
	width: 276px;
	height: 228px;
	float: left;
	margin-left: 24px;
	margin-top: 10px;
}

.clearfix:after {	
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}